body {
    height: 100%;
    width: 100%;
    background-color: #B2FF66;
    font-family: "Times New Roman", serif;
    padding: 30px;
}

#wrapper {
    height: 100%;
    width: 100%;
}

#surround {
    width: 405px;
    padding: 25px;
    border: 1px solid black;
    border-radius: 15px;
}

#title {
    font-weight: bold;
    font-size: 125%;
    padding-left: 10px;
    padding-right: 10px;
}

.words {
    size: 25px;
}

#shuffledArrayDiv, #arrayDiv {
    height: 20px;  
}

button {
    width: 75px;
}